main {
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.listing {
    width: calc(33.33% - 60px);
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.listing img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

.listing h4 {
    margin-top: 0;
}

.listing p {
    margin: 5px 0;
}

.listing button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.listing button:hover {
    background-color: #45a049;
}
